{
  "extends": [
    "eslint:recommended",
    "plugin:vue/base",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "disableEslintIgnore": 0,
    "prettier/prettier": "error",
    "vue/no-unused-vars": "error",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": 2
      }
    ]
  }
}
